html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.header .menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color: #000;
    margin-right: 8px;
}

.header .menu a:hover {
    color: #995818;
    text-decoration: underline;
}

.header .menu a:active {
    color: #000;
}

.icon {
    display: flex;
    align-items: center;
}

.icon img {
    margin-right: 16px;
}

.icon .icon-picture {
    width: 30px;
    height: 30px;
}
.icon span {
    font-size: 24px;
    font-weight: bold;
}

.section {
    background-image: url('./assets/cica.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
}

.section-text {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}

.section-text h1 {
    font-size: 72px;
}

.section-text h2 {
    font-size: 48px;
}

.activites {
    background-color: #829399;
    width: 100%;
    height: 900px;
    padding: 24px 16px;
}

.activites .activites-title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 24px;
}

.activites .tile-container {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
}

.activites .tile-container .tile {
    width: 25%;
    height: 460px;
    text-align: center;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 10px 10px 5px #444;
    background-color: #FFFFFF;
}

.activites .tile-container .tile > img {
    border-radius: 50%;
    box-shadow: 5px 5px 15px #444;
    height: 150px;
    width: 150px;
    margin-top: 36px;
}

.tile-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 128px;
    font-size: 36px;
}

.tile-text-container .tile-text-img {
    margin-right: 16px;
    width: 30px;
    height: 30px;
}

.footer {
    text-align: center;
    padding: 16px 0;
    font-size: larger;
}

.scroll-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
}